flows (current).json
[{"id":"1911ed0f.56ce83","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d5da06b5.590fc8","type":"function","z":"1911ed0f.56ce83","name":"pre token","func":"\n\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\n\n\nvar apikey = \"l0wCDZxU-IaOrnaau_EK2UheH9po7LFNHLTHkRkRc7Qd\" ;\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":140,"y":120,"wires":[["ce713023.23658","228fd1d9.16a0ce"]]},{"id":"7cd7d16.cfeec3","type":"function","z":"1911ed0f.56ce83","name":"","func":"\nvar token = msg.payload.access_token;\nvar instance_id = \"d0f2c189-ad40-47ad-a119-ea6d88a5b15c\";\nmsg.headers = { \"Content-Type\":\"application/json\",\n                \"Authorization\":\"Bearer \"+ token ,\n                \"ML-Instance-ID\":instance_id};\n\n//set global variables\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\n\nmsg.payload = {\"fields\":['year', 'status', 'adult_mortality', 'hepatitis_b',\n       'measles', 'bmi', 'polio', 'total_expenditure', 'diphtheria',\n       'hiv/aids', 'thinness_10-19_years', 'income_composition_of_resources',\n       'schooling'],\n       \"values\":[[b,c,d,e,f,g,h,i,j,k,l,m,n]]\n        };\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["1322cec4.3a7971","24c456a8.e8589a"]]},{"id":"ce713023.23658","type":"http request","z":"1911ed0f.56ce83","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":60,"wires":[["7cd7d16.cfeec3","524d3165.42e56"]]},{"id":"1322cec4.3a7971","type":"http request","z":"1911ed0f.56ce83","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d0f2c189-ad40-47ad-a119-ea6d88a5b15c/deployments/0d6c1fa1-023c-457e-b96d-5a658229e342/online","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":300,"wires":[["26bab169.2fdaae","d421571d.a08d58"]]},{"id":"c5a70d55.6416e","type":"ui_form","z":"1911ed0f.56ce83","name":"","label":"Enter all the fields","group":"ad2c02a6.4ea0b","order":1,"width":0,"height":0,"options":[{"label":"year","value":"b","type":"number","required":true,"rows":null},{"label":"status","value":"c","type":"number","required":true,"rows":null},{"label":"adult_mortality","value":"d","type":"number","required":true,"rows":null},{"label":"hepatitis_b","value":"e","type":"number","required":true,"rows":null},{"label":"measles","value":"f","type":"number","required":true,"rows":null},{"label":"bmi","value":"g","type":"number","required":true,"rows":null},{"label":"polio","value":"h","type":"number","required":true,"rows":null},{"label":"total_expenditure","value":"i","type":"number","required":true,"rows":null},{"label":"diphtheria","value":"j","type":"number","required":true,"rows":null},{"label":"hiv/aids","value":"k","type":"number","required":true,"rows":null},{"label":"thinness_10-19_years","value":"l","type":"number","required":true,"rows":null},{"label":"income_composition_of_resources","value":"m","type":"number","required":true,"rows":null},{"label":"schooling","value":"n","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":300,"wires":[["d5da06b5.590fc8","9cde1fb4.622d2"]]},{"id":"26bab169.2fdaae","type":"ui_text","z":"1911ed0f.56ce83","group":"ad2c02a6.4ea0b","order":2,"width":0,"height":0,"name":"","label":"Prediction  -","format":"{{msg.payload.values[0]}}","layout":"row-spread","x":810,"y":280,"wires":[]},{"id":"d421571d.a08d58","type":"debug","z":"1911ed0f.56ce83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":420,"wires":[]},{"id":"9cde1fb4.622d2","type":"debug","z":"1911ed0f.56ce83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":180,"y":420,"wires":[]},{"id":"524d3165.42e56","type":"debug","z":"1911ed0f.56ce83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":40,"wires":[]},{"id":"228fd1d9.16a0ce","type":"debug","z":"1911ed0f.56ce83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":200,"wires":[]},{"id":"24c456a8.e8589a","type":"debug","z":"1911ed0f.56ce83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":120,"wires":[]},{"id":"ad2c02a6.4ea0b","type":"ui_group","z":"","name":"LIFE EXPECTANCY PREDICTION","tab":"7e198b45.190ef4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e198b45.190ef4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]